---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/Loader.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ImpactLedger from '../components/ImpactLedger.astro';
import Work from '../components/Work.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import DataStack from '../components/DataStack.astro';
import Lab from '../components/Lab.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Loader />
  <main id="main">
    <Hero />
    <About />
    <ImpactLedger />
    <Work />
<Experience />
    <Skills />
    <DataStack />
    <Lab />
    <Contact />
  </main>
</Layout>
